.navbar a {
  color: white;
}

.navbar a:hover {
  color: #333333;
}

.game-categories-select {
  max-width: 40%;
  color: #333333
}

.comment-box {
  border: 1px solid black;
  background-color: grey;
  margin : 20px 0
}