@import "node_modules/uikit/src/less/uikit.theme.less";
// for core elements of uikit:
// @import "node_modules/uikit/src/less/uikit.less";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Press+Start+2P&display=swap');

// Example: change variables
// @global-link-color: pink;

// Example: use hooks to change components
// .hook-card() {
//     border: 2px solid red;
// }

// Example: Should there be neither a variable nor a hook available, you can also create your own selector. To do so, use the .hook-card-misc hook and write your selector inside. This will sort your new selector to the right place of the compiled CSS file
// .hook-card-misc() {
//     .uk-card a { color: #f00; }
// }

/*
Color Palette
*/

@first-color: #27374D;
@second-color: #526D82;
@third-color: #9DB2BF;
@fourth-color: #DDE6ED;


#root,
h1,
h2,
h3,
p {
    font-family: 'Lato', sans-serif;
    color: @fourth-color;
    /* font-family: 'Press Start 2P'; */
}

@global-link-color: white;

.uk-button {
    color: white;
}

.uk-button:hover {
    color: @third-color;
}

.App {
    min-height: 100vh;
    background-color: @first-color;
}

.game-categories-select {
    color: #333333
}

.comment-box {
    // border: 1px solid black;
    // background-color: grey;
    // margin: 20px 0
}

.category-card {
    border-radius: 1em;
    background-color: @third-color;
}

.category-slider {
    border-radius: 1em;
    border: black solid 5px;
}

.homepage-categories {
    padding-top: 1em;
}

.homepage-games {
    padding-top: 5em;
}

#homepage-games-heading,
#homepage-categories-heading {
    margin-bottom: 0em;
}

.uk-search-input {
    color: white
}

#game-info-textarea {
    max-width: 50%;
    resize: none;
}

.comment-section {
    margin-bottom: 5em;
}

.display-comments {
    margin-top: 3em
}

.uk-comment {
    padding-top: 1em;
    padding-left: 0.5em;
    background-color: @second-color;
    margin-top: 1em
}

.uk-comment-meta {
    margin: 0;
}

.comment-button {
    margin-left: 1em;
}

.comment-avatar {
    margin: 0
}

.category-small-display {
    background-color: @second-color;
    border: 2px solid black;
    display: inline-block;
    padding: 0.5em 1em;
    margin-right: 1em;
}

.category-filter-checkbox {
    color: white;
}

.category-filter-name {
    margin-left: 1em;
}

.game-card-image {
    border-radius: 1em 1em 0 0;
}

.game-detail-image {
    max-width: 35%;
    max-height: 15em;
    border-radius: 1em;
}

/* 
// Breadcrumbs
.breadcrumbs {
    // margin: 20px auto;
}

.breadcrumbs>* {
    display: inline-block;
    margin-right: 1em;
}

.breadcrumbs .crumb:after {
    content: '>';
    margin-left: 1em;
}

.breadcrumbs .crumb:last-child:after {
    display: none;
}
*/